main input {
	white-space: normal;
	margin: auto;
}

main {
	display: grid;
	grid-template-areas:
	  "titre titre"
	  "formZone scenario"
	;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: calc(100vh - 10px);
	width: calc(100% - 10px);
}

main section#titre{
    grid-area: titre;
	text-align: center;
    padding: 0.25em;
}

main section#formZone{
    grid-area: formZone;
	padding: 0.25em;
}

main section#scenario{
    grid-area: scenario;
    padding: 0.25em;

	height: calc(100vh - 10px - 4em);
}

main section#scenario div#no-scroll{
	height: calc(100vh - 10px - 7em);
	overflow-y: scroll;
}


#no-scroll::-webkit-scrollbar {
	display: none;
}

#no-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

main section#scenario table{
	height: 100%;
	width: 100%;
}
